<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests" thread-count="5">
  <test name="TestBreyers1">
  <parameter name="language" value="us"></parameter>
    <classes>
      <class name="dweb.test.i18n.breyers.functionaltests.TestContactUs"/>
    </classes>
  </test>
  <test name="TestBreyers2">
  	<parameter name="language" value="es"></parameter>
    <classes>
      <class name="dweb.test.i18n.breyers.functionaltests.TestContactUs"/>
    </classes>
  </test> <!-- TestBreyers -->
  
</suite> <!-- Suite -->
